// Color
$black: #1A1A1A;
$white: #FFFFFF;
$kitchen-tailor-main-color: #9e7e47;

// Font Style
@font-face {
    font-family: 'Engravers-Gothic';
    src: url('/public/fonts/Engravers-Gothic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}