* {
    font-family: 'Overused Grotesk', 'Arial', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    @media(max-width: 991px){
        font-size: 12px;
    }
}