.redborder{
    border: 2px solid red;
}
* {
    font-family: 'Overused Grotesk', 'Arial', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    @media(max-width: 991px){
        font-size: 12px;
    }
}

.content-body-kitchen-tailor{
    background-color: white;
}

.custom-container{
    padding: 4vw 6vw;
    @media(max-width:991px){
        padding: 4vw 0;
    }
    &.collaborations-text-container{
        padding: 4vw 14vw;
        @media(max-width:991px){
            padding: 5vw;
        }
        @media(max-width:767px){
            padding: 8vw 0;
        }
    }
    &.our-story-desc-container{
        padding: 4vw 6vw;
        @media(max-width:991px){
            padding: 5vw 5vw 0 5vw;
        }
        &.final-container{
            padding: 0vw 6vw 4vw 6vw;
            @media(max-width:991px){
                padding: 0 5vw 5vw 5vw;
            }
        }
    }
    &.our-story-text-container{
        padding: 0vw 6vw 4vw 6vw;
        @media(max-width:991px){
            padding: 5vw;
        }
        @media(max-width:767px){
            padding: 5vw 2vw;
        }
    }
    &.kitchen-tailor-home-container{
        padding: 0;
    }

    &.kitchen-tailor-full-banner-container{
        height: 100vh;
    }

    &.kitchen-tailor-header-container{
        padding: 0.2vw 6vw;
        @media(max-width:991px){
            padding: 1vw 0;
        }
    }
    &.kitchen-tailor-fade-container, &.kitchen-tailor-end-container{
        padding: 0vw 2vw;
        @media(max-width:991px){
            padding: 0;
        }
        @media(max-width:767px){
            padding: 3vw 0;
        }
    }
    &.collaborations-content-container, &.gerobok-cendayam-img-container, &.gerobok-designer-container{
        padding: 0vw 6vw 4vw 6vw;
        @media(max-width:767px){
            padding: 0;
        }
    }
    &.gerobok-designer-container{
        @media(max-width:767px){
            padding: 4vw 0;
        } 
    }
    &.kitchen-tailor-footer-container{
        padding: 4vw 2vw 2vw 2vw;
        @media(max-width:991px){
            padding: 5vw 0;
        }
    }
    &.kitchen-tailor-navigation-container{
        padding: 2vw 2vw;
        width: 20%;
        height: 100vh;
        background-color: rgba(255, 255, 255);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        @media(max-width:991px){
            width: 102%;
        }
    }
}
.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.flex-column-center{
        flex-direction: column;
    }
}
.d-flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.d-flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gothic-font{
    margin-bottom: 0px;
    font-family: 'Engravers-Gothic', 'Overused Grotesk Semibold', sans-serif;
}
.gothic-font-small{
    margin-bottom: 0px;
    font-family: 'Century-Gothic', sans-serif;
}
.gothic-font-big{
    margin-bottom: 0px;
    font-family: 'Engravers-Regular', 'Overused Grotesk Semibold', sans-serif;
}

.font-kitchen-tailor{
    color : $kitchen-tailor-main-color !important;
}
.font-kitchen-tailor-icon path {
    fill: $kitchen-tailor-main-color !important;
}
.font-kitchen-tailor-icon {
    color: $kitchen-tailor-main-color;
    font-size: 23px;
    @media(max-width:767px){
        font-size: 17px;
    }
    &.inquiry-icon{
        font-size: 20px;
        @media(max-width:767px){
            font-size: 15px;
        }
    }
}
.font-kitchen-tailor-black{
    color : $black;
}
.font-kitchen-tailor-grey{
    color : $grey;
}

#kitchen-tailor-content{
    .kitchen-tailor-font-full-banner{
        font-size: 50px;
        opacity: 0;
        transform: scale(0.8); // Starts slightly smaller
        display: inline-block; // Necessary for transform to work perfect
        transition: opacity 1.7s ease-out, transform 1.7s cubic-bezier(0.22, 1, 0.36, 1);

        &.text-reveal {
            opacity: 1;
            transform: scale(1); // Grows to original size
        }
        @media(max-width:1999px){
            font-size: 50px;
        }
        @media(max-width:1499px){
            font-size: 50px;
        }
        @media(max-width:991px){
            font-size: 42px;
        }
        @media(max-width:767px){
            font-size: 30px;
        }
    }
    .font-collaborations-title{
        margin-top: 0;
        font-size: 50px;
        @media(max-width:991px){
            font-size: 34px;
            margin-top: 9vw;
        }
        @media(max-width:767px){
            font-size: 23px;
        }
    }
    .font-collaborations-text{
        font-size: 18px;
        @media(max-width:767px){
            font-size: 13px;
        }
    }
    .font-designer{
        font-size: 80px;    
        @media(max-width:991px){
            font-size: 50px;
        }
        @media(max-width:767px){
            font-size: 35px;
        }
    }
    .font-designer-content-text{
        font-size: 18px;
        text-align: justify;
        @media(max-width:767px){
            font-size: 12px;
        }
    }
    .font-our-story-desc-text{
        font-size: 26px;
        font-weight: 600;
        @media(max-width:991px){
            font-size: 20px;
        }
        @media(max-width:767px){
            font-size: 13px;
        }
        &.final-text{
            font-weight: 500;
        }
    }
    .font-our-story-content-text{
        font-size: 18px;
        text-align: justify;
        @media(max-width:767px){
            font-size: 12px;
        }
    }
    .kitchen-tailor-font-title-1{
        font-size: 38px;
        @media(max-width:1999px){
            font-size: 38px;
        }
        @media(max-width:1499px){
            font-size: 38px;
        }
        @media(max-width:991px){
            font-size: 34px;
        }
        @media(max-width:767px){
            font-size: 23px;
        }
    }
    .kitchen-tailor-font-footer{
        font-size: 20px;
        @media(max-width:767px){
            font-size: 15px;
        }
    }
    .footer-clickable{
        transition: transform 0.3s ease;
        &:hover{
            cursor: pointer;
            transform: translateY(-5px); // move up slightly
        }
    }
    .kitchen-tailor-font-navigation{
        font-size: 23px;
        transition: transform 0.3s ease;
        @media(max-width:991px){
            font-size: 25px;
        }
        @media(max-width:767px){
            font-size: 23px;
        }
        &.active{
            &:hover{
                transform: scale(1.1);
            }
        }
        
    }
    .kitchen-tailor-font-button{
        font-size: 15px;
    }
    #kitchen-tailor-navigation {
        display: none;
        opacity: 0;
        transform: translateX(-80px);
        z-index: 100;
        position: fixed;
    }
    #kitchen-tailor-full-banner{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; // Use vh for height to cover the full viewport
        background-color: $white;
        z-index: 9999; // Ensure it is above the header and everything else
        transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 1.5s;
    
        /* Ensure hardware acceleration for smoother animation */
        will-change: opacity;
        backface-visibility: hidden;
    }
    .fade-out-now {
        opacity: 0 !important;
        visibility: hidden;
    }

    .nav-animate {
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .kitchen-tailor-font-inquiry-1{
        font-size: 38px;
        @media(max-width:767px){
            font-size: 23px;
        }
    }
    .kitchen-tailor-font-inquiry-2{
        font-size: 17px;
        @media(max-width:767px){
            font-size: 15px;
        }
    }
    .kitchen-tailor-font-inquiry-3{
        font-size: 15px;
        @media(max-width:767px){
            font-size: 13px;
        }
    }
    #kitchen-tailor-header{
        background-color: rgba(255, 255, 255, 0.95);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    .inquire-button, .submit-inquire-button{
        border: 1px solid $kitchen-tailor-main-color;
        padding: 10px 30px;
        background-color: transparent;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        .kitchen-tailor-font-button{
            color: black;
            transition: color 0.3s ease;
        }
        &:hover{
            background-color: $kitchen-tailor-main-color;
            .kitchen-tailor-font-button{
                color: white;
            }
        }
    }
    .input-half{
        min-width: 50%;
        color: black;
        background-color: white;
        border: 1px solid rgb(207, 207, 207);
        height: 48px;
        margin-bottom: 0;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.5em;
        display: block;
        @media(max-width:767px){
            font-size: 12px;
            min-width: 100%;
        }
        &.textarea{
            min-width: 100%;
            min-height: 100px;
            line-height: 15px
        }
        
    }
    .navigation-button{
        border: none;
        padding: 0 10px;
        background-color: transparent;
        &.nav-close{
            padding: 0 10px 65px 10px;
            @media(max-width:991px){
                padding: 20px 20px 65px 20px;
            }
            @media(max-width:767px){
                padding: 10px 20px 65px 20px;
            }
        }
    }
    .dropdown-content {
        display: grid;
        grid-template-rows: 0fr; /* Starts at 0 height */
        transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        overflow: hidden;
    }

    /* 2. The Inner Wrapper (Crucial for the grid trick) */
    .dropdown-content > div {
        min-height: 0;
    }

    /* 3. The Icon - Move transition here so it works both ways */
    .font-kitchen-tailor-icon {
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* 4. The Active States */
    .dropdown.show .dropdown-content {
        grid-template-rows: 1fr; /* Animates to full height */
    }

    .dropdown.show .font-kitchen-tailor-icon {
        transform: rotate(180deg);
    }
    #kitchen-tailor-inquiry-bg{
        background-image: url('/public/images/kitchen-tailor/Homepage-Banner-7.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        min-height: 100vh;
        padding: 4vw 6vw;
    }
    .collaborations-container{
        background-image: url('/public/images/kitchen-tailor/kimpton-naluria/Collaborations-5.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        min-height: 90vh;
        padding: 4vw 6vw;
        position: relative;
        &.gerobok-cendayam-container{
            background-image: url('/public/images/kitchen-tailor/gerobok-cendayam/Collaborations-1.jpeg');
        }
        &.kimpton-naluria-container{
            background-image: url('/public/images/kitchen-tailor/kimpton-naluria/Collaborations-1.jpg');
        }
        &.our-story-container{
            background-image: url('/public/images/kitchen-tailor/kimpton-naluria/Collaborations-2.jpg');
        }
        @media(max-width:991px){
            min-height: 45vh;
        }
        @media(max-width:767px){
            min-height: 35vh;
        }
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: 0;
        }
    }
    .kitchen-tailor-inquiry-container{
        margin: 4vw 25vw;
        background-color: #f7f7f7;
        @media(max-width:991px){
            margin: 0;
            padding: 6vw;
        }
        @media(max-width:767px){
            margin: 0;
            padding: 6vw;
        }
    }
    .footer-icons{
        border: none;
        background: transparent;
        color: $kitchen-tailor-main-color;
    }
}

// Additional CSS
.fade-wrapper {
    position: relative;
    width: 97%;
    border-radius: 10px;
    overflow: hidden;   /* ensures overlay stays inside */
}
.collaboration-img-wrapper{
    height: fit-content;
    .center-top-wrapper, .left-top-wrapper, .designer-wrapper{
        height: 50vh;
        position: relative;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;   /* ensures overlay stays inside */
        &.kimpton-naluria-container{
            height: 50vh;
            @media(max-width:991px){
                height: 35vh;
            }
            @media(max-width:767px){
                height: 25vh;
            }
        }
    }
    .left-top-wrapper{
        height: 100vh;
        @media(max-width:991px){
            height: 75vh;
        }
        &.kimpton-naluria-wrapper{
            height: 50vh;
        }
    }
    .center-bottom-wrapper{
        height: 30vh;
        &.kimpton-naluria-wrapper{
            height: 30vh;
            @media(max-width:991px){
                height: 75vh;
            }
            @media(max-width:767px){
                height: 60vh;
            }
        }
    }
    .right-top-wrapper{
        height: 81vh;
    }
    .right-bottom-wrapper{
        padding: 1vw;
    }
    .designer-wrapper{
        height: 70vh;
    }
}

.fade-img {
    width: 97%;
    object-fit: contain;
    border-radius: 10px;
}
.gerobok-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    &.img-left-top{
        object-position: 100% 80%;
        &.kimpton-left-top{
            object-position: 77% 80%;
        }
    }
    &.img-center-top{
        object-position: 50% 80%;
    }
    &.img-center-bottom-left{
        width: 99%;
        object-position: 10% 80%;
    }
    &.img-center-bottom-right{
        width: 97%;
        object-position: 50% 80%;
    }
    &.img-designer{
        object-fit: contain;
        object-position: 50% 80%;
        @media(max-width:991px){
            object-position: 50% 100%;
        }
    }
}
.end-image {
    border-radius: 10px;
    width: 97%;
    object-fit: contain;
    &.our-story-img{
        width: 100%;
    }
}
.header-img{
    width: 60%;
    object-fit: contain;
    &.homepage{
        width: 100%;
    }
}

.collaborations-img{
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    display: block;
    width: 100%;
}

/* The dark overlay */
.fade-overlay {
    border-radius: 10px;
    width: 97%;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0); /* start invisible */
    transition: background 0.3s ease;
    &.collaborations-content-overlay{
        width: 100%;
        opacity: 1;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.6) 15%,
            rgba(0, 0, 0, 0) 30%,
        );
        &.gerobok-cendayam-overlay{
            width: 100%;
            background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.7) 15%,
                rgba(0, 0, 0, 0.5) 30%,
                rgba(0, 0, 0, 0.3) 50%,
                rgba(0, 0, 0, 0) 100%,
            );
        }
    }
}

/* Text on top */
.gerobok-cendayam-text-box{
    padding: 4vw;
    position: absolute;
    inset: 0;
    @media(max-width:991px){
        padding: 6vw;
    }
    &.center-box {
        padding: 1vw;
        @media(max-width:991px){
            padding: 6vw;
        }
    }
    &.designer-text-box{
        padding: 3vw;
        @media(max-width:991px){
            padding: 6vw;
        }
    }
}
.fade-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    opacity: 0;                 /* hidden at start */
    transition: opacity 0.3s ease;
    &.collaborations-fade-text{
        align-items: end;
        opacity: 1;
        @media(max-width:991px){
            font-size: 2.5rem;
        }
        @media(max-width:767px){
            font-size: 1.3rem;
        }
    }
    &.gerobok-cendayam-text{
        position: relative;
        align-items: end;
        text-align: justify;
        opacity: 1;
        font-size: 18px;
        @media(max-width:767px){
            font-size: 12px;
        }
        &.text-title{
            font-size: 50px;
            @media(max-width:767px){
                font-size: 30px;
            }
        }
    }
}
.gerobok-cendayam-center-bottom-text{
    align-items: end;
    text-align: justify;
    font-size: 17px;
    color: black;
    @media(max-width:767px){
        font-size: 12px;
    }
}

/* Hover effect */
.fade-wrapper:hover .fade-overlay {
    background: rgba(0, 0, 0, 0.5);
    &.collaborations-content-overlay{
        opacity: 1;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.6) 15%,
            rgba(0, 0, 0, 0) 30%,
        );
    }
} 
.fade-wrapper:hover .collaborations-img {
    transform: scale(1.05);
} 

.fade-wrapper:hover .fade-text {
    opacity: 1;
}
@media(max-width: 991px) {
    .fade-wrapper .fade-overlay {
        background: rgba(0, 0, 0, 0.5);
        &.collaborations-content-overlay{
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.6) 15%,
            rgba(0, 0, 0, 0) 30%,
        );
    }
    }
    .fade-wrapper .fade-text {
        opacity: 1;
    }
}

.fade-slider {
    position: relative;
    width: 100%;
    height: 100vh; /* adjust */
    overflow: hidden;
}

.fade-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-slider img.active {
    opacity: 1;
}
.accent-line{
    background-color: $kitchen-tailor-main-color;
    width: 2%;
    height: 1px;
    margin-top: 5px;
    @media(max-width:991px){
        width: 10%;
    }
}